<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" 
			  href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		
		<script>
			$(function() {
				$( "#in_date" ).datepicker({
					dateFormat: 'yy-mm-dd'
				});
			  });
			
			function toggle_edit() {				
				if($('#edit-view').is(':visible')) {
					$('#edit-view').hide();
					$('#show-view').show();
				} else {
					$('#show-view').hide();
					$('#edit-view').show();
				}
			}
			
			function get_form_data() {
			  var data = {'data': []};

			  $('#values input').each(function() {

				var value = $(this).val();
				var id = $(this).attr('id');

				data['data'].push(
				  {'id': id, 'value': value}
				);

			  });

			  return data;
			}
			
			function save() {
				var json_str = JSON.stringify(get_form_data());
				console.log(json_str);
				$('#budgets').val(json_str); // overwrite the input value
				$('#budgets_edit').submit();
			}
		</script>
	</head>
	<body>
		<h1>Detail view - {{ project.pk }}</h1>

		<p>Start date: {{ project.start_date }}</p>

		{% if budget %}
			<div id="show-view">
				<ul>
					{% for b in budget %}
						<li>${{ b.value }} - {{ b.in_date }}</li>
					{% endfor %}
				</ul>
			</div>
			<div id="edit-view" style="display: none;">
				<ul id="values">
					{% for b in budget %}
						<li>$<input type="number" step="0.01" id="{{ b.pk }}" value="{{ b.value }}" /> - {{ b.in_date }}</li>
					{% endfor %}
				</ul>
				<form id="budgets_edit" action="{% url 'labs:budgets_edit' project.pk %}" method="post">
					{% csrf_token %}
					<input type="hidden" id="budgets" name="budgets" value="" />
					<input type="button" value="save" onclick="save()" />
				</form>
			</div>
			<input type="button" onclick="javascript:toggle_edit()" value="toggle edit" />
		{% else %}
			<p>No budget available yet!</p>
		{% endif%}
	</body>
</html>
